body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#mapid{
height:700px;
}

.plantTable, .plantTable th, .plantTable td{
  border:solid 1px;
  border-collapse: collapse;

}

.plantTable th, .plantTable td{
  padding-left:10px;
  padding-right:10px;
}
.plantTable.lightGreen th{
  background-color: lightgreen;
}

.plantTable.blue th{
  background-color: lightskyblue;
}

.plantTable.pink th{
  background-color: pink;
}


.plantTable.purple th{
  background-color: purple;
}

.plantTable.yellow th{
  background-color: yellow;
}

.plantTable.red th{
  background-color: red;
}
.plants{
  max-height:400px;
  overflow:auto;
}

